<header>
  <h1><a href="http://blog.ppenev.com">blog.ppenev.com</a></h1>
  <p>This is my blog</p>
  <p>My home page: <a href="http://ppenev.com">ppenev.com</a></p>

  <p>I'm a Python developer by day, and Lisp hacker by night. I'm also a writer.</p>
  
  <p>I'm currently working on a new book about Lisp called <a href="http://fullstacklisp.com">Full Stack Lisp</a> expected to be finished some time in 2016. It's still in a very early stage, but I'v managed to publish a free sample chapter to Leanpub: <a href="http://samples.leanpub.com/fullstacklisp-sample.pdf">Full Stack Lisp Sample</a></p>
  
  <p> Also, check out my first book: <a href="http://leanpub.com/lispwebtales">Lisp Web Tales</a>. It's about web development with Common Lisp. You can read in for free, or pay as much as you want for it. <strong>This book is abandoned and no will not be updated, typos, bugs and inacuracies will stay forever, sorry. I recommend you don't pay for it and just download it for free.</strong></p>

  <p>You can follow me on twitter: <a href="http://twitter.com/pavelpenev">@pavelpenev</a></p>
  
  <p class="view"><a href="https://github.com/pvlpenev">My GitHub Profile</a></p>
  
</header>
