<header>
  <h1><a href="http://blog.ppenev.com">blog.ppenev.com</a></h1>
  <p>This is my blog</p>
  <p>My home page: <a href="http://ppenev.com">ppenev.com</a></p>

  <p>I'm a Python developer by day, and Lisp hacker by night. I'm also a writer. Check out my first book: <a href="http://lispwebtales.ppenev.com">Lisp Web Tales</a>. It's about web development with Common Lisp. You can read in for free, or <a href="http://leanpub.com/lispwebtales">Buy it from leanpub.com</a> in PDF/EPUB/MOBI format</p>

  <p>I'm also working on a new book about Lisp called <a href="http://fullstacklisp.com">Full Stack Lisp</a> expected to be finished some time in 2016. It isn't a sequel, but it will most likely deprecate my previous one.</p>

  <p>You can follow me on twitter: <a href="http://twitter.com/pavelpenev">@pavelpenev</a></p>
  
  <p class="view"><a href="https://github.com/pvlpenev">My GitHub Profile</a></p>
  
</header>
